@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #F8F5F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  background: #000;
  color: #F8F5F1;
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}